body
{
	margin: 0px auto;
	padding: 0;
}
.main
{
	width: 1350px;
	margin: 0px auto;
	padding: 0;
}
.menu
{
	width: 1350px;
	margin: 0px auto;
	padding: 0;
}
.conup
{
	width: 1350px;
	margin: 0px auto;
	padding: 0;
}
.conup2
{
	width: 1350px;
	margin: 0px auto;
	padding: 0;
}
.conup3
{
	width: 1350px;
	margin: 0px auto;
	padding: 0;
}
.conup4
{
	width: 1350px;
	margin: 0px auto;
	padding: 0;
}
.conup5
{
	width: 1350px;
	margin: 0px auto;
	padding: 0;
}
.footer
{
	width: 1350px;
	margin: 0px auto;
	padding: 0;
}